@use "normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html, body {
    height: 100%;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: rgb(181, 207, 241);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}



.app-container {
    height: 100%;
}